---
import { SITE } from 'astrowind:config';
---

<span
  data-aw-logo
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-xl md:text-lg font-heading font-bold uppercase tracking-wider text-black dark:text-white whitespace-nowrap transition duration-200"
>
  🚀 {SITE?.name}
</span>
